.about-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .abheader-text {
    font-size: 36px;
    color: #333;
  }
  
  .about-text {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
  }
  